.imgres {
    height: 100px;
    width: 50%;
}

.navbar-brand {
    width: 20%;
}

footer {
    background-color: #2E8E8E !important;
}

.effect-18 {
    border: 0;
    padding: 7px 0;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: black solid 1px !important;
    border-radius: 0px !important;
    border: 0;
    padding: 4px 0;
    background-color: transparent;
}

.effect-18~label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.effect-18:focus~label,
.has-content.effect-18~label {
    top: -16px;
    font-size: 12px;
    color: black;
    transition: 0.3s;
}

.enviar {
    background-color: #EC4C4C;
    border-radius: 25px;
    height: 50px;
    color: white;
    font-weight: bold;
}

form {
    margin-bottom: 15%;
}

.navbar {
    background-color: #F2BF8D !important;
}

input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.img-contacte {
    width: 15%;
    height: 73%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 2%;
}

.container-fluid {
    padding: 0;
}

.collapse {
    margin-right: 10%;
}

.mid {
    height: 100%;
    width: 100%;
    background-color: beige;
    border: 1px solid black;
}


/*Styling tabs*/


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}