.imgres {
  height: auto;
  width: 100%;
}

.margin {
  margin-top: 5%;
  padding: 0;
}

.pdf{
  position: absolute !important;
}

.container {
  margin-top: 0%;
}

#calendar {
  max-width: 100%;
  margin-bottom: 5%;
}

.navbar-collapse {
  margin: 0 !important;
}

nav li {
  padding-left: 25px;
}

#calendar th {
  color: white;
  border: black 1px solid;
  background-color: #264653;
}

footer {
  background-color: #2E8E8E !important;
}

.enviar {
  background-color: #EC4C4C;
  border-radius: 25px;
  height: 50px;
  color: white;
  font-weight: bold;
  width: 100%;
}

form {
  margin-bottom: 15%;
}

.navbar {
  background-color: #F2BF8D !important;
  font-size: 120%;
  font-family: 'Fira Sans Condensed';
  /*padding: 0px;*/
}

button:focus, button.enviar:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.img-contacte {
  width: 15%;
  height: auto;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-top: 2%;
}

.container-fluid {
  padding: 0;
}

.collapse {
    margin-right: 10%;
}

.head {
  border: 1px black solid !important;
  background-color: #264653;
  color: white;
}

a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.tab{ font-family: 'Montserrat', sans-serif; }
.tab .nav-tabs{ border: none; }
.tab .nav-tabs li a{
    color: #999B9D;
    background: #F7F7F7;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 30px 11px;
    margin: 0 0 1px 0;
    border: none;
    border-radius: 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover{
    color: #E9C46A;
    background-color: #f7f7f7;
    border: none;
}
.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after{
    content: '';
    background-color: #E9C46A;
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:after{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom center;
    left: 50%;
    bottom: 0;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before{
    width: 100%;
}
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after{
    opacity: 0;
    transform: translateX(-50%) scale(1);
}
.tab .tab-content{
    color: #999;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 30px 25px 20px;
    border: 3px solid #e1e1e1;
    width: 100%;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li a:before{ bottom: 0; }

}

@media screen and (max-width: 640px){

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: right !important;
}

}

input[type="radio"] + label {
  margin-right: 3%;
  
}




.tabler {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 6%;
  }

  .tabler tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  .tabler th,
  .tabler td {
    padding: .625em;
    text-align: center;
  }
  
  .tabler th {
    font-size: .85em;
    font-weight: bold;
    color: black;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    .tabler {
      border: 0;
      
    }
  
    .tabler caption {
      font-size: 1.3em;
    }
    
    .tabler thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .tabler tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .tabler td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .tabler td::before {

      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .tabler td:last-child {
      border-bottom: 0;
    }
  }
